body {
    color: #333;
    text-align: left;
    font-size: 16px;
    font-family: 'Times New Roman';
}

#container {
    width: 70%;
    padding: 1cm;
    text-align: left;
    border: 1px solid #DDD;
}
#container h1
{
font-size: 20px;
}